.hero {
	background-image: url(../../../images/bg5.svg);
	background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
	background-color:rgba(255, 255, 255, 0.1);
	min-height: 916px;
	max-height: 916px;
	
	.section-inner {
		padding-top: $hero--padding-t__mobile;
		padding-bottom: $hero--padding-b__mobile;
	}
}

.hero-inner {

	// Affects only hero full
	> .hero-content + .hero-figure,
	> .hero-figure + .hero-content {
		margin-top: $hero--inner-padding-v_mobile;

		.hero-content a {
			@include font-size(link-desktop);
		}
		.hero-content ul {
			list-style: none;
			display: flex;
			flex-flow: row;
		}

		.hero-content ul li a img {
			color: #505F79;
			width: 20px;
			height: 20px;
		}
	}

	> .hero-figure {

		> a {
			display: inline-flex;
			// prevents stretching
			align-items: center;
			vertical-align: top;
		}
	}
}

@include media( '<=medium' ) {

	.hero {

		.split-wrap {

			.split-item {

				.split-item-content {
					margin-bottom: $hero--inner-padding-v_mobile;
				}
			}

			&.invert-mobile {

				.split-item {

					.split-item-image {
						margin-bottom: $hero--inner-padding-v_mobile;
					}
				}
			}
		}
	}

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}

		.hero-content a {			
			@include font-size(link-desktop);
		}

		.hero-content ul {
			list-style: none;
			display: flex;
			flex-flow: row;
		}

		.hero-content ul li a img {
			color: #505F79;
			width: 20px;
			height: 20px;
		}
	}
}

@include media( '>medium' ) {

	.hero {

		.section-inner {
			padding-top: $hero--padding-t__desktop;
			padding-bottom: $hero--padding-b__desktop;
		}
	}

	.hero-inner {

		// Affects only hero full
		> .hero-content + .hero-figure,
		> .hero-figure + .hero-content {
			margin-top: $hero--inner-padding-v_desktop;
		}

		.hero-content a {			
			@include font-size(link-desktop);
		}

		.hero-content ul {
			list-style: none;
			display: flex;
			flex-flow: row;
		}

		.hero-content ul li a img {
			color: #505F79;
			width: 20px;
			height: 20px;
		}
	}
}
